# Object files
*.o
*.dSYM

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Dirs
build/
data/

# Logs
*.log

# Compiled tests
tests/*_test
